
.product__item{
    cursor: pointer;
    
}
.product__img img{
    height: 320px;
    max-height: 320px;
}
.product__info{
    max-height: 240px;
    height: 240px;
}
.product__info h3{
    max-height: 215x;
    height: 215px;
}
.product__info h3 a{
    font-style: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    margin-top: 15px;
}   
.product__info a:hover{
    color: inherit;
}
.product__info span{
    font-style: 0.9rem;
}

.product__card-bottom .price{
    color: var(--primary-color);
    font-style: 1.3rem;
    font-weight: 500;
}
.product__card-bottom span i{
    font-style: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
}
@media only screen and (max-width : 992px){
    .product__info h3 a {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width : 768px){
    .product__info h3 a {
        font-size: 1rem;
    }
    .product__card-bottom span i{
        font-size: 1rem;
    }
}
